# Q1 Get the company name

In [31]:
str=input("Enter the email id")
a=str.index("@")
b=str.index(".")
str2=str[a+1:b]
print("Name of the company is ",str2)

Enter the email idjohn@google.com
Name of the company is  google

# Q2 Sorting

In [32]:
str1=input("The words separated by commas \n")

str=str1.rsplit(",")
print("The Sorted elements are \n",sorted(str))

The words separated by commas
without,hello,bag,world
The Sorted elements are
 ['bag', 'hello', 'without', 'world']

# Q3 set

# Sets 
### A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

Sets are enclosed between curly brackets

st={}

Like Others set can contain any data type namely int flat string anything .

st1={"Rose","Sunflower","Lily"}

st2={1,2,3}

st3={'a','b','c'}

There are alot of funtions that can be used to perform task on sets .

Set is also mutable Data Type

In [18]:
st1={"Rose","Sunflower","Lily"}

st2={1,2,3}

st3={'a','b','c'}
for x in st1:
  print(x)

Sunflower
Lily
Rose

In [19]:
print(1 in st2)

True

In [21]:
st2.add(4)
st2

{1, 2, 3, 4}

In [22]:
st2.update([5,6,7])
st2

{1, 2, 3, 4, 5, 6, 7}

In [24]:
print(len(st3))

3

In [26]:
st1.update(st2)
print(st1)

{1, 'Lily', 2, 3, 4, 5, 6, 7, 'Sunflower', 'Rose'}

In [27]:
set3 = st1.union(st2)
print(st3)

{'c', 'b', 'a'}

In [29]:
set3 = st1.intersection(st2)
print(set3)

{1, 2, 3, 4, 5, 6, 7}

# Q4 Finding missing number

In [39]:
def check():
    lst=[]
    n=int(input("Enter the number of Elemnet is the list "))
    for i in range(n):
        a=int(input("Enter the element "))
        lst.append(a)
    lst.sort()
    print(lst)
    a=len(lst)
    for j in range(n-1):
        if lst[j]+1==lst[j+1]:
            continue
        else:
            print("Missing element is \t",lst[j]+1)
   
check()

Enter the number of Elemnet is the list 7
Enter the element 1
Enter the element 2
Enter the element 4
Enter the element 3
Enter the element 6
Enter the element 7
Enter the element 8
[1, 2, 3, 4, 6, 7, 8]
Missing element is 	 5

# Q5 Checking duplicates

In [40]:
def check_duplicates():
    lst=[]
    res=[]
    n=int(input("Enter the number of Elemnet is the list "))
    for i in range(n):
        a=int(input("Enter the element "))
        lst.append(a)
    print(lst)
    for j in lst:
        if j not in res:
            res.append(j)
    print(res)
            
    
check_duplicates()

Enter the number of Elemnet is the list 10
Enter the element 12
Enter the element 24
Enter the element 35
Enter the element 24
Enter the element 88
Enter the element 120
Enter the element 155
Enter the element 88
Enter the element 120
Enter the element 155
[12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
[12, 24, 35, 88, 120, 155]